*.db
/temp
/template
/output
/input-cache
/fsh-generated
/.vscode
/_gencontinuous.bat
/_gencontinuous.sh
/_genonce.bat
/_genonce.sh
/local-template/config/.index.json
/local-template/package/.index.json
/.staged/
run-docker.sh
